<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                {{#link-to 'admin.inventory'}}
                <li class="nav-item">
                    <a class="nav-link">Inventory</a>    
                </li>
                {{/link-to}}
                
                <!--<li class="nav-item">
                    <a class="nav-link" href="#">Products</a>
                </li>-->
            </ul>
        </div>
    </div>
    
    

</div>
{{outlet}}
