<div class="container">
    <div class="row" style="text-align: center;">
        <div>
            <p>Estimate: </p>
            <h1>{{estimate.time}}</h1>
        </div>
    </div>
    <div class="row" style="text-align: center; margin-top: 50px;">
        <a href="tel:{{estimate.phoneNumber}}">
            <button type="button" class="btn btn-info-outline">Call Driver</button>
        </a>
        
        
    </div>
</div>
{{outlet}}
